header {
  display: block;
}

.container {
  position: relative;
}

#header {
  position: relative;
}

#logo {
  width: 121px;
  height: 134px;
  display: block;
  cursor: pointer;
  margin: 0 auto -82px;
  text-indent: -9999em;
  background: url(./images/logo1.png) no-repeat;
  position: relative;
  z-index: 3;
}

#menu {
  text-align: center;
}

#menu ul {
  padding: 0 80px;
  display: inline-block;
  list-style: none;
}

#menu li {
  float: left;
  padding: 0 25px;
}

#menu a {
  font-size: 20px;
  line-height: 30px;
  display: block;
  color: #8c929c;
  font-family: "Bebas Neue", cursive;
}

#menu a:hover {
  color: #008bc4;
}

a {
  text-decoration: none;
}
